on:
  workflow_dispatch:

jobs:
  producer:
    runs-on: ubuntu-22.04
    outputs:
      foo: ${{ steps.generate-foo.outputs.foo }}
    steps:
        - name: Generate and export foo
          id: generate-foo
          run: |
            foo=bar
            echo "foo=${foo}" >> "${GITHUB_OUTPUT}"
            echo "FOO=${foo}" >> "${GITHUB_ENV}"

        - name: Inspect values inside producer
          run: |
            echo "FOO (set via GITHUB_ENV): $FOO"
            echo "foo (step output): ${{steps.generate-foo.outputs.foo}}"